@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Noto+Serif:ital@1&display=swap');
html,
body {
    height: 100%;
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    background-image: url("Graphic-Design-2.jpeg");
    height: fit-content;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.nav .nav-link {
    font-size: 18px;
}

.nav .nav-link:visited {
    color: white;
}

.nav .nav-link:hover {
    color: silver;
}

.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
    cursor: pointer;
}

.name-tag {
    font-family: 'Noto Serif', serif;
    margin-top: 20%;
    color: white;
    font-weight: bold;
    z-index: 5;
}

.tag-2 {
    font-family: 'Dosis', sans-serif;
    color: white;
    font-weight: bold;
}

img {
    width: 100%;
    height: 100%;
}

body.background .content {
    background-color: rgba(76, 199, 243, 0.5);
    margin-right: 0;
    margin-left: 0;
}

body.background .content .text {
    width: 65%;
}

p {
    text-align: center;
    font-family: 'AvenirNextLTPro-Regular', Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    line-height: 1.7em;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer {
    background-color: rgba(28, 82, 102, 0.5);
    margin-right: 0;
    margin-left: 0;
}

.footer a {
    color: black;
    font-size: 23px;
}

body.background .outer {
    width: 100%;
    margin-right: 0;
    padding-right: 0;
}

.text {
    width: 450px;
}

.footer-text {
    color: white;
    display: block;
}

.footer-head {
    width: 100%;
}